.App {
  text-align: center;
  justify-content: center;
}


.AddTask {
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}
.TaskList {
  margin: auto;
  width: 70%;
  
  padding: 10px;
  
}
.Task {
  margin: 1rem;
  
}
.Complete {
  text-decoration: line-through;
  
}
.NotComplete {
  text-decoration: none;
}